:root {
    --main-color: firebrick;
    --border-color: yellow;
}

body {
    height: 100vh;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 20rem;
    height: 15rem;
    background-color: coral;
}

.circle1 {
    width: 10rem;
}

.circle2 {
    width: 4rem;
}

.all-circles {
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: var(--main-color);
}

.circle-animation {
    border-right: 20px solid var(--main-color);
    border-top: 20px solid var(--border-color);
    border-left: 20px solid var(--main-color);
    border-bottom: 20px solid var(--border-color);
    transform: rotate(45deg);
    animation-name: rotate-yellow-border;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.pause-animation {
    animation-play-state: paused;
}

.pause-button {
    border: none;
    transform: rotate(-45deg);
    cursor: pointer;
}

@keyframes rotate-yellow-border {
    0%   {
        transform: rotate(45deg);
    }
    25%  {
        transform: rotate(90deg);
    }
    50%  {
        transform: rotate(135deg);
    }
    75%  {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(225deg);
    }
}